#profileimg
{
    display: block;
    border-radius: 20%;
    border: 10px double palevioletred;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 360px;
}
.img20per img
{
    width: 370px;
    height: 370px;
}
.img33per img
{
    width: 600px;
    height: 370px;
}
.center
{
    text-align: center;
}
.orangered
{
    color:orangered;
    font-weight: bold;
}
.blue
{
    color:blue;
    text-align: center;
}
.crimson
{
    color: crimson;
}
.deepskyblue
{
    color: deepskyblue;
}
.flex_a
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    background-color: seagreen;
}
.flex_a > div
{
    border: 2px solid red;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 25%;
}
table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}
body
{
    background-color: rgb(200, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3, body > h2
{
    color: orangered;
    text-align: center;
    font-style: oblique;
}
ul
{
    width: 200px;
    margin: auto;
}
table
{
    width: 400px;
    margin: auto;
    text-align: center;
}
/* unvisited link */
a:link{
    color: #FF0000; 
}  
/* visited link */
 a:visited{
    color: #00ff15; 
}  
/* mouse over link */  
 a:hover{ 
    color: #1100ff; 
} 