body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
#game-container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
#game-layer {
    background-color: rgb(43, 43, 43);
    position: relative;
    width: 500px;
    height: 500px;
    
    border: 3px solid ghostwhite;
}
.center{
    text-align: center;
}
.red{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color:crimson;
    border: 1px solid white;
}
.blue{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color:dodgerblue;
    border: 1px solid white;
}
.green{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color:greenyellow;
    border: 1px solid white;
}
h1
{
    color: white;
    padding: 10px;
    background-color: teal;
}
.grid-container 
{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}
#grid0
{
    grid-column: 1 / span 1;
    text-align: center;
}
#grid0 > img
{
    width: 100%;
    height: auto;
}
#grid1
{
    grid-column: 2 / span 1;
    text-align: center;
    color: white;
}
#grid1 > img
{
    width: 100%;
    height: auto;
}
#grid2
{
    grid-column: 3 / span 1;
    text-align: center;
}
#grid2 > img
{
    width: 100%;
    height: auto;
}
.gamesetting{
    background-color: teal;
}
.gamearea{
    background-color: teal;
}
.boldtxt{
    font-weight: bold;
}
@media only screen and (max-width: 600px)
{
    #grid1 > img
    {
        width: 50%;
        height: auto;
    }
    #game-layer {
        background-color: rgb(43, 43, 43);
        position: relative;
        width: 300px;
        height: 300px;
        
        border: 3px solid ghostwhite;
    }
}