@font-face{
    font-family: font1;
    src: url(../portfolio/font/Athiti-Regular.ttf);
}
body
{
    background-color: cornflowerblue;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: font1;
}
.header
{
    color: white;
    padding: 10px;
    background-color: teal;
}
.center
{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.grid-container 
{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}
#grid0
{
    grid-column: 1 / span 1;
}
#grid1
{
    grid-column: 2 / span 1;
    text-align: center;
    color: white;
}
#grid2
{
    grid-column: 3 / span 1;
}
#grid3
{
    width: 400px;
    margin: auto;
    grid-column: 2 / span 1;
    color: white;
}